In [1]:
import pandas as pd
import numpy as np
from keras.utils.np_utils import to_categorical

In [2]:
df = pd.read_csv('ionosphere_data.csv')

In [3]:
display(df)

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,...,feature26,feature27,feature28,feature29,feature30,feature31,feature32,feature33,feature34,label
0,1,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,0.03760,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,g
1,1,0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,b
2,1,0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,g
3,1,0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,b
4,1,0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,1,0,0.83508,0.08298,0.73739,-0.14706,0.84349,-0.05567,0.90441,-0.04622,...,-0.04202,0.83479,0.00123,1.00000,0.12815,0.86660,-0.10714,0.90546,-0.04307,g
347,1,0,0.95113,0.00419,0.95183,-0.02723,0.93438,-0.01920,0.94590,0.01606,...,0.01361,0.93522,0.04925,0.93159,0.08168,0.94066,-0.00035,0.91483,0.04712,g
348,1,0,0.94701,-0.00034,0.93207,-0.03227,0.95177,-0.03431,0.95584,0.02446,...,0.03193,0.92489,0.02542,0.92120,0.02242,0.92459,0.00442,0.92697,-0.00577,g
349,1,0,0.90608,-0.01657,0.98122,-0.01989,0.95691,-0.03646,0.85746,0.00110,...,-0.02099,0.89147,-0.07760,0.82983,-0.17238,0.96022,-0.03757,0.87403,-0.16243,g
350,1,0,0.84710,0.13533,0.73638,-0.06151,0.87873,0.08260,0.88928,-0.09139,...,-0.15114,0.81147,-0.04822,0.78207,-0.00703,0.75747,-0.06678,0.85764,-0.06151,g

In [4]:
 np.where(pd.isnull(df))

(array([], dtype=int64), array([], dtype=int64))

In [5]:
np.where(df.empty)

(array([], dtype=int64),)

In [6]:
df['label'].unique()
df["label"] = df["label"].factorize()[0]
display (df["label"] )

0      0
1      1
2      0
3      1
4      0
      ..
346    0
347    0
348    0
349    0
350    0
Name: label, Length: 351, dtype: int64

In [7]:
train_data=df[0:210]
train_targets=train_data.iloc[0:210,[34]]
train_data=train_data.drop(["label"],axis=1)
train_data=train_data.drop(["feature2"],axis=1)
train_data.astype('float64')
one_hot_train_labels = to_categorical(train_targets)
display(one_hot_train_labels.shape)

(210, 2)

In [8]:
test_data=df[210:352]
test_targets=test_data.iloc[0:142,[34]]
test_data=test_data.drop(["label"],axis=1)
test_data=test_data.drop(["feature2"],axis=1)
test_data.astype('float64')
one_hot_test_labels = to_categorical(test_targets)
display(test_targets)

     label
210      1
211      0
212      1
213      0
214      1
..     ...
346      0
347      0
348      0
349      0
350      0

[141 rows x 1 columns]

In [9]:
train_mean = train_data.mean(axis=0) 
train_data -= train_mean
train_std = train_data.std(axis=0)
train_data /= train_std
test_data -= train_mean
test_data /= train_std

In [10]:
display(train_data.dtypes)

feature1     float64
feature3     float64
feature4     float64
feature5     float64
feature6     float64
feature7     float64
feature8     float64
feature9     float64
feature10    float64
feature11    float64
feature12    float64
feature13    float64
feature14    float64
feature15    float64
feature16    float64
feature17    float64
feature18    float64
feature19    float64
feature20    float64
feature21    float64
feature22    float64
feature23    float64
feature24    float64
feature25    float64
feature26    float64
feature27    float64
feature28    float64
feature29    float64
feature30    float64
feature31    float64
feature32    float64
feature33    float64
feature34    float64
dtype: object

In [23]:
from keras import models
from keras import layers
model = models.Sequential()
model.add(layers.Dense(16, activation='relu', input_shape=(train_data.shape[1],)))
model.add(layers.Dense(16, activation='relu'))
model.add(layers.Dense(16, activation='relu'))
model.add(layers.Dense(1, activation='sigmoid'))

In [24]:
model.compile(optimizer='rmsprop',
loss='binary_crossentropy',
metrics=['accuracy'])

In [29]:
model.fit(train_data, train_targets, epochs=350,validation_split = 0.3,verbose=0)

In [30]:
loss, accuracy = model.evaluate(test_data, test_targets)

5/5 [==============================] - 0s 3ms/step - loss: 1.2024 - accuracy: 0.9362

In [32]:
c=np.array(test_data.iloc[17])
a=c.reshape(1,33)
display(a)

array([[ 0.37500863,  0.5186662 ,  0.7387977 ,  0.20575127,  1.24518447,
        -0.43521932,  1.57060265, -1.0971977 ,  1.62997126, -1.48829956,
         1.35283278, -1.76341779,  1.01184085, -1.84408512,  0.49973018,
        -2.08323949, -0.05260657, -1.7109452 , -0.4388067 , -1.407788  ,
        -1.02279431, -0.83664015, -1.02000798, -0.52464684, -0.94241887,
        -0.54393292, -0.66570506,  0.1074477 , -0.44027108,  0.23265429,
        -0.13308534,  0.1897419 ,  0.23638575]])

In [33]:
test_targets.iloc[17]

label    0
Name: 227, dtype: int64

In [34]:
model.predict(a)

array([[7.1544255e-12]], dtype=float32)